* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body, .parent {
    background-color: darkblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 120px 40px rgb(30, 30, 255) inset;
}

.box {
    height: 550px;
    width: 550px;
    /* background-color: blanchedalmond; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    border-radius: 15px;
}

.cont {
    background-color: purple;
    box-shadow: 0 0 12px 12px rgb(182, 38, 182) inset;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    display: flex;
    font-size: 45px;
    font-weight: bold;
    color: rgb(98, 255, 255);
    justify-content: center;
    align-items: center;
}

/* .cont:hover {
    background-color:rgb(47, 238, 47);
    box-shadow: 0 0 20px 10px #4CAF50;
} */