* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

.parent {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.cont {
    height: 80%;
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-top: 4%;
}

input {
    height: 13%;
    width: 80%;
    border-radius: 15px;
    border: 3px solid black;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: gray;
}

.res {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 40px;
    width: 100px;
    background-color: rgba(48, 173, 231, 0.925);
    color: black;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.result {
    height: 40px;
    width: 100px;
}