* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(0, 247, 255);
}

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

h1 {
    color: rgb(0, 0, 0);
}

body {
    text-align: center;
    background-color: azure;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 85vh;
    width: 40vw;
    background-color: whitesmoke;
}

#name, #email, #phone, #password {
    width: 15rem;
    height: 2rem;
    margin-top: 12px;
    padding-left: 15px;
    border: 2px solid black;
    border-radius: 8px;
}

#address {
    border: 2px solid black;
    border-radius: 8px;
}

.det {
    margin-left: 20px;
}

.name, .email, .phone, .address, .password {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#btn {
    width: 4rem;
    height: 2rem;
    margin-top: 26px;
    background-color: rgb(90, 224, 90);
    border-radius: 4px;
    border: 2px solid white;
    color: black;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(134, 230, 134);
}

#nameDesc, #emailDesc, #pwdDesc, #phoneDesc {
    visibility: hidden;
    color: red;
    font-size: 14px;
}